html, body {
  overflow: scroll !important
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-msg {
  color: red
}
/* header */
.app-header {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
}
.header-logo {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 5px;
}

/* body */
.App {
  margin-left: 10px;
  margin-right: 10px;
}
.search-input {
  margin: 10px;
  padding-left:10px;
  padding-right:30px;
  padding-top:4px;
  padding-bottom:4px;
  height: 20px;
  width: 780px;
}
.ts-icon-search {
  cursor: pointer;
}
.list-item {
  margin-top: 10px;
  cursor: pointer;
}
.item-title {
  font-weight: bold;
  margin: 0
}

/* modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  position: relative;
}

.header {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.title {
  padding: 10px;
}

.close-icon {
  cursor: pointer;
  padding-right: 10px;
  line-height: 40px;
}

.body {
  border-bottom: 1px solid lightgrey;
}

.context {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.result-status {
  color: green;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.result-title {
  font-weight: bold;
}